.faq__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-text);
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin: 0;

}

.faq__element:not(:last-child) {
    margin-bottom: 20px;
}

.faq__element:nth-of-type(even) {
    color: var(--color-text);
    background-color: #440F51;
}

.faq__open {
    content: '';
    display: inline-block;
    width: 2.875rem;
    height: 2.875rem;
    border: none;
    background-color: transparent;
    background-image: url(img/open.svg);
    &:hover {
        background-image: url(img/open-hover.svg);
    }
    &:active {
        background-image: url(img/open-active.svg);
    }
}

.faq__open-purple {
    content: '';
    display: inline-block;
    width: 2.875rem;
    height: 2.875rem;
    background-image: url(img/open-purple.svg);
    border: none;
    background-color: transparent;
    &:hover {
        background-image: url(img/open-purple-hover.svg);
    }
    &:active {
        background-image: url(img/open-purple-active.svg);
    }
}

.faq__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}