@import "faq.css";
@import "global.css";
@import "normalize.css.css";

* {
    box-sizing: border-box;
}

.quote {
    margin: 0;
}

.atribute {
    padding-left: 40px;
    
}
.atribute:not(:last-child) {
    padding-bottom: 20px;
}
.date {
    width: 148px;
}
.radio-button {
    margin-right: 10px;
}

.header {}

.container-header {
    max-width: 1240px;
    padding: 30px 30px 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__items {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.header__item {
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
}

.header__call {
    border: 3px solid #CD06FF;
    width: 280px;
    height: 55px;
    align-self: flex-end;
    border-radius: 10px;
    background: transparent;
    text-align: center;
    align-content: center;
    &:hover {
        border-color: 3px solid #6C0287;
        background-color: #6C0287;
    }
    &:active {
        border: 1px solid #000000;
        background-color: #640AA3;
    }
    &:focus {
        background-color: #6C0287;
    }
}

.header__number {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}


.main-banner {
    position: relative;
    height: 932px;
}

.main-banner:after {
    content: url(./img/vr-banner.png);
    position: absolute;
    right: 5px;
    top: 120px;
}

.main-banner__down {
    position: absolute;
    left: 45.35%;
    bottom: 140px;
    z-index: 1;
    content: '';
    display: inline-block;
    width: 97px;
    height: 97px;
    background-image: url(./img/down.svg);
    background-color: transparent;
    border: none;
    &:hover {
        background-image: url(./img/down-hover.svg);
    }
    &:active {
        background-image: url(./img/down-active.svg);
    }
    &:focus {
        border: 1px solid #CD06FF
    }
}

.main-banner__info {
    display: flex;
    gap: 40px;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.5px;
    text-align: center;
    padding-top: 30px;
    width: 399px;
    margin-bottom: 150px;
}

.main-banner__info-left {
    display: flex;
    flex-direction: column;
    width: 193px;
}

.main-banner__booking {
    display: flex;
    width: 374px;
    height: 80px;
    border-radius: 10px;
    background: #6C0287;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgb(108 2 135);

    &:hover {
        background-color: #840AA3;
    }
    &:active {
        background-color: #640AA3;
    }
    &:focus {
        background-color: #840AA3;
    }
}

.main-banner__button-text {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.main-banner__info-right {
    display: flex;
    flex-direction: column;
    max-width: 165px;
    align-self: flex-end;
    align-items: center;
}

.main-banner__number {
    font-size: 100px;
    font-weight: 900;
    line-height: 141.02px;
    color: #CD06FF;
}
.main-banner__new {
    font-size: 65px;
    font-weight: 900;
    line-height: 105.76px;
    color: #CD06FF;
    text-transform: uppercase;
}

.main-banner__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    margin: 0;
}

.main-banner__description {
    margin: 0;
    padding-left: 6.25rem;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
}

.rest__items-img {
    display: flex;
    flex-wrap: wrap;
    gap: 39px 20px;
}

.page__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 50px;
    width: 882px;
}

/* .block-halls {
    padding-top: 100px;
} */

.block-halls__halls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-halls {
    position: relative;
    text-align: center;
}

.img-halls:not(:last-child) {
    margin-bottom: 60px;
}

.img {
    width: 100%;
}

.block-halls__text-img {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.block-halls__link {
    text-decoration: none;
}

.block-halls__item-vibes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/80s-vibes.png);
    background-size: cover;
    width: 580px;
    height: 349px;
}

.block-halls__item-starwars {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/star-wars.png);
    background-size: cover;
    width: 580px;
    height: 349px;
}

.block-halls__item-wildwest {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/wild-west.png);
    background-size: cover;
    width: 580px;
    height: 349px;
}

.block-halls__item-neon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/neon-style.png);
    background-size: cover;
    width: 580px;
    height: 349px;
}

.about-us__wrapper-block {
    display: flex;
}

.rest__item-text1 {
    width: 380px;
    height: 228px;
    background-image: url(img/1.png);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    padding: 166px 40px 0 40px;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }
}
.rest__item-text2 {
    width: 380px;
    height: 228px;
    background-image: url(img/2.png);
    padding: 166px 40px 0 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }
}
.rest__item-text3 {
    width: 380px;
    height: 228px;
    background-image: url(img/3.png);
    padding: 166px 40px 0 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }
}
.rest__item-text4 {
    width: 380px;
    height: 228px;
    background-image: url(img/4.png);
    padding: 166px 40px 0 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }
}
.rest__item-text5 {
    width: 380px;
    height: 228px;
    background-image: url(img/5.png);
    padding: 166px 40px 0 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }
}
.rest__item-text6 {
    width: 380px;
    height: 228px;
    background-image: url(img/6.png);
    padding: 166px 40px 0 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }
}

.about-us__block1 {
    margin-right: 80px;
    background-image: url(img/photocollage.png);
    width: 600px;
}

.about-us__block2 {
    width: 500px;
}

.about-us__text-about {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.about-us__text-about:first-child {
    margin-bottom: 41px;
}

.about-us__text-about:last-of-type {
    margin-bottom: 48px;
}

.quote__quote-text {
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: 0em;
    text-align: left;
}

.quote__wrapper-quote {
    display: flex;
    text-transform: uppercase;
    padding-bottom: 42px;
}

.quote__text {
    margin-top: 10px;
    margin-left: 9px;
}

.quote__wrapper-quote:before {
    content: '“';
    display: inline-block;
    color: #6C0287;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.quote__quote-text:before {
    content: '';
    display: inline-block;
    color: #6C0287;
    font-weight: 900;
}

.quote__quote-text:after {
    content: '”';
    display: inline-block;
    color: #6C0287;
    font-weight: 900;
}

.quote__creator {
    display: flex;
    justify-content: end;
}

.quote__creator-about-creator {
    width: 279.28px;
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    font-style: normal;
}

.feedback__items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feedback__item {
    display: flex;
    margin: 0;
}

.feedback__img {
    min-width: 280px;
}

.feedback__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.feedback__wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.feedback__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 52px 0 0 20px;
}

.footer {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%)
}

.footer__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.footer__tech {
    list-style: none;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 0;
    margin-bottom: 35px;
}

.footer__tech-icon {
    padding-left: 60px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: left;
}

.footer__tech-icon:first-child {
    margin-bottom: 35px;
}

.icon-address {  
    background-image: url(./img/location.svg);
}
.icon-phone {    
    background-image: url(./img/phone-call.svg);
    margin-bottom: 10px;
}
.icon-mail {
    background-image: url(./img/envelope.svg);
}

.footer__tech-address,
.footer__tech-phone-number,
.footer__tech-mail {
    margin: 0;
    /* width: 415.1904px; */
    text-decoration: none;
}

.footer__tech-link {
    text-decoration: none;
    color: #fff;
}

.footer__social {
    display: flex;
    width: 280px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__social-link {
    width: 50px;
    height: 50px;
}

.quote__creator-img {
    margin-right: 29.72px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
}

.container__footer {
    padding-bottom: 10px;
}
